{% extends "UnoegohhRetailBundle:Default:layout.html.twig" %}

{% block content %}
    <h2>Оформление заказа</h2>

    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <th>Номер</th>
            <th>Название</th>
            <th>Цена</th>
            <th>Количество</th>
        </tr>
        {% for item in cart %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }} руб</td>
                <td>{{ item.count }}</td>
            </tr>

        {% endfor %}

        <tr>
            <td colspan="2" style="text-align: right;">Итого:</td>
            <td>{{ price }} руб</td>
            <td colspan="2">{{ count }}</td>
        </tr>

    </table>
    <form action="{{ path('unoegohh_retail_shop_cart_order') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        {{ form_widget(form) }}
        {{ form.token }}
        <button class="btn btn-success">Отправить</button>
    </form>
{% endblock %}